.logout-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#D8F5EE;
}

.logout-card{
    width:500px;
    background:white;
    padding:40px;
    border-radius:30px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.logout-card h1{
    margin-bottom:15px;
}

.logout-card p{
    color:#6B7280;
    margin-bottom:25px;
}

.logout-card button{
    background:#4338CA;
    color:white;
    border:none;
    padding:12px 30px;
    border-radius:10px;
    cursor:pointer;
}